<left>
        <a class="github-button" href="https://github.com/aws-samples/aws-hpc-tutorials" data-icon="octicon-star" data-show-count="true" aria-label="Star on GitHub">Star</a>
        <a class="github-button" href="https://github.com/aws-samples/aws-hpc-tutorials" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork on GitHub">Fork</a>
        <br><a href="https://aws.amazon.com/privacy/?nc1=f_pr">Privacy</a> | <a href="https://aws.amazon.com/terms/?nc1=f_pr">Site Terms</a> | © 2021, Amazon Web Services, Inc. or its affiliates. All rights reserved. 
</left>


<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
